#root {
  display:grid;
  align-items: center;
  justify-content: center;
  justify-items: center;
  justify-self: center;
}



.App {
  text-align: left;
  display:grid;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  align-items: center;
  justify-content: center;
}

.App .content {
  width:700px;
}


.title {
  display:grid;
  grid-template-rows: 1fr 1fr;
  height:80%;
  align-items: flex-end;
}

#sourceTitle, #widthTitle {
  font-weight: bold;
  font-size:1.4em;
}

#formWrapper {
  display:grid;
  grid-template-rows: 1fr 1fr;
  grid-gap:16px;
}

@media only screen and (min-width: 1100px) {
  .App .content {
    width:1000px;
  }
}

@media only screen and (max-width: 768px) {
  .App .content {
    width:400px;
  }
}
